@using RealStateApp.Core.Application.Dtos.Account
@using RealStateApp.Core.Application.Helpers
@using RealStateApp.Core.Application.ViewModels.Agents;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;
@model List<AgentVM>
@{
    var userInSession = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

<div class="container mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.UserName</td>
                    @if (item.IsActive == true)
                    {
                        <td>
                            <form 
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
