@using RealStateApp.Core.Application.ViewModels.Agents
@model UpdateAgentVM
@using Microsoft.JSInterop;
@using RealStateApp.Core.Application.Dtos.Account;
@using RealStateApp.Core.Application.Dtos.User;
@using RealStateApp.Core.Application.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    var userInSession = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    ViewData["Title"] = "Registro";
}
                       
<body>
<div class="container">
    <div class="row justify-content-center pt-5 mt-5 m-1">
            <h1 class="text-center mb-3"><strong>Editar Perfil</strong></h1>
        <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
                <form method="post" asp-controller="Agent" asp-action="MyProfile" enctype="multipart/form-data">

                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Create User</h1>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <input asp-for="FirstName" class="form-control" placeholder="Enter the Name">
                        <span asp-validation-for="FirstName" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <input asp-for="LastName" class="form-control" placeholder="Enter the LastName">
                        <span asp-validation-for="LastName" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <input asp-for="Phone" class="form-control" placeholder="Enter the Phone Number">
                        <span asp-validation-for="Phone" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2" id="imageUploadSection">
                        @if (Model.ImagePath != null)
                        {
                            <img src="@Model.ImagePath" alt="Foto Perfil" class="agent-image mb-3" />

                        }
                        else
                        {
                            <img src="\Images\Agent\Anonimo\AgentAnonimo.png" alt="Foto Perfil" class="agent-image mb-3" />
                        }
                        <label asp-for="File">Selecciona una imagen, si desea cambiarla:</label>
                        <input type="file" asp-for="File" lang="es" name="File" class="d-none mb-2" id="image" />
                        <button type="button" class="btn btn-outline-dark btn-lg btn-block btn-outline-light" onclick="document.getElementById('image').click()">
                            <i class="fa-regular fa-image text-dark"></i>
                        </button>
                        <span asp-validation-for="File" class="text-white mb-2"></span>
                    </div>

                  <input hidden asp-for="agentId"/>
                    <div class="form-group text-center mt-4 mb-5">
                        <button type="submit" class="btn btn-primary btn-outline-dark" style="background-color: #2f5b75; color: white;">Crear Usuario</button>
                        <a asp-controller="Home" asp-action="AgentProperties" class="btn btn-dark">Volver atras</a>
                    </div>
                    <label class="mb-5"></label> 
                </form>
        </div>
    </div>
      
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


<style>
    body {
        background-color: #dcd2ff;
    }

    .formulario {
        background: rgba(0, 0, 0, .1);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        color: white;
    }

    .form-control {
        border-style: none;
        transition: 0.5s ease-in;
        outline: none;
        box-shadow: none;
    }

        .form-control:focus {
            background: none;
            box-shadow: none;
            outline: none;
        }

        .form-control::placeholder {
            color: black;
        }

    .ingresar {
        background: #222A3F;
        padding: 10px;
        font-size: 16px;
        font-weight: 700 !important;
        color: white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        transition: 0.5s ease-in;
    }

        .ingresar:hover {
            color: white;
        }

    .olvide {
        color: white;
        text-decoration-style: none;
        text-decoration-line: none;
    }

        .olvide:hover {
            color: white;
            text-decoration-style: none;
            text-decoration-line: none;
            cursor: pointer;
        }

    .olvide1 {
        color: white;
        text-decoration-style: none;
        text-decoration-line: none;
        font-size: 20px;
        font-weight: 700 !important;
        padding: 10px;
        border-radius: 10px;
        background: rgba(0, 0, 0, .5);
    }

        .olvide1:hover {
            color: white;
            text-decoration-style: none;
            text-decoration-line: none;
            cursor: pointer;
        }

    .agent-image-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .agent-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
</style>

<script>
    var passwordInput = document.getElementById("passwordInput");
    var togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.remove("fa-eye-slash");
            togglePassword.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove("fa-eye");
            togglePassword.classList.add("fa-eye-slash");
        }
    });
        function toggleAdminSection() {
            var isAgentSelect = document.getElementById('isAdminSelect');
            var imageUploadSection = document.getElementById('imageUploadSection');

            imageUploadSection.style.display = isAgentSelect.value === 'true' ? 'block' : 'none';
        }

    toggleAdminSection();
</script>



